img {
    vertical-align: middle;
    border-style: none; }

#sidebar .logo {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto; }
#sidebar .logo span {
    display: block; }

.rounded-circle {
    border-radius: 50% !important; }
.wrapper {
    width: 100%; }

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important; }

.align-items-stretch {
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important; }
      
.p-4 {
    padding: 1.5rem !important; }

.pt-5,
.py-5 {
  padding-top: 3rem !important; }

  #sidebar {
    min-width: 320px;
    max-width: 320px;
    background: #343A40;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    #sidebar.active {
      margin-left: -300px; }

      #sidebar ul.components {
        padding: 0; }
      #sidebar ul li {
        font-size: 16px; }
        #sidebar ul li > ul {
          margin-left: 10px; }
          #sidebar ul li > ul li {
            font-size: 14px; }
        #sidebar ul li a {
          padding: 10px 0;
          display: block;
          color: rgba(255, 255, 255, 0.8);
          border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
          #sidebar ul li a:hover {
            color: #f8b739; }
        #sidebar ul li.active > a {
          background: transparent;
          color: #f8b739; }
      @media (max-width: 991.98px) {
        #sidebar {
          margin-left: -300px; }
          #sidebar.active {
            margin-left: 0; } }


            .contenedor-fluid{
                height: 300px;
                width: 300%;
                background-color: #ddd;
                display: flex;
                justify-content: space-between;
                padding: 20px;
                box-sizing: border-box;
              }